  @import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

*{
    /*Font Details*/
    --fontSizeXSmall: 16px;
    --fontSizeSmall: 20px;
    --fontSizeMedium: 38px;
    --font: 'Lato', sans-serif;

    /*Colors*/
    --websiteBgColor: #ffffff;
    --headerBgColor: #ffffff;
    --btnBgColor: #342c2c;
    --bntTextColor: #ddd;
    --bntHoverColor:#868181 ;
    --tableBgColor: #191818;
    --tableTextColor:  white;
    --tableBorderColor:#000000;
}